{% embed 'drupal4gov:card-group' with {
  max_columns: 3,
} %}
  {% block content %}
    {{ include('drupal4gov:title-card', {
      title: '<span class="blue">What</span> We Do',
      text: 'Dedicated to empowering government agencies to deliver secure, scalable, and citizen-centric digital solutions.',
      }) }}

    {% embed 'drupal4gov:icon-card' with {
      title: 'DrupalGovCon',
      url: 'http://www.drupalgovcon.com',
      } %}
      {% block media %}
        {{ include('@drupal4gov/../images/icons/capital.svg') }}
      {% endblock %}
    {% endembed %}
    {% embed 'drupal4gov:icon-card' with {
      title: 'Webinars',
      url: '/node/46',
      } %}
      {% block media %}
        {{ include('@drupal4gov/../images/icons/computer.svg') }}
      {% endblock %}
    {% endembed %}
    {% embed 'drupal4gov:icon-card' with {
      title: 'GovSummit',
      url: '/node/76',
      } %}
      {% block media %}
        {{ include('@drupal4gov/../images/icons/stage.svg') }}
      {% endblock %}
    {% endembed %}
    {% embed 'drupal4gov:icon-card' with {
      title: 'Drupal Global Training Days',
      url: 'https://groups.drupal.org/global-training-days',
      } %}
      {% block media %}
        {{ include('@drupal4gov/../images/icons/presentation.svg') }}
      {% endblock %}
    {% endembed %}
    {% embed 'drupal4gov:icon-card' with {
      title: 'Full & Half Days',
      url: '/node/56',
      } %}
      {% block media %}
        {{ include('@drupal4gov/../images/icons/time.svg') }}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
