<form action="" class="email-signup-form">
  {% set email_id = 'email-signup-text'|clean_unique_id %}
  <h3 class="email-signup-form__title">{{ 'Newsletter'|t }}</h3>
  <label class="visually-hidden" for="{{ email_id }}">{{ 'Email'|t }}</label>
  <input class="email-signup-form__input no-style" id="{{ email_id }}" placeholder="{{ 'Email'|t }}" type="email">
  <button class="email-signup-form__submit pill--primary" type="submit">
    {{ 'Subscribe'|t }}
  </button>
</form>
